.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 1em;
    border: 1px solid var(--secondary);
    border-radius: 20px;
    color: var(--secondary);
    background-color: var(--secondary20);
    position: relative;
}

.file-input {
    display: none;
}

/* .clear-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.submit-btn {
    position: absolute;
} */

.btn-container {
    position: absolute;
    bottom: 8px;
    right: 8px;

}