.circle {
    border-radius: 1000px;
}

.large {
    width: 300px;
    height: 300px;
    background-color: var(--secondary20);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: breathe 1s ease-in-out 0s infinite alternate both;
}

.medium {
    width: 200px;
    height: 200px;
    background-color: var(--secondary20);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: breathe 1s ease-in-out 0.5s infinite alternate both;
}

.small {
    width: 100px;
    height: 100px;
    background-color: var(--secondary20);
    animation: breathe 1s ease-in-out 1s infinite alternate both;
}

@keyframes breathe {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.75);
    }
}